<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enrollment</title>
</head>
<body>
    <h1>Enrollment Form</h1>
    <form action="/enrollment" method="post">
        <input type="text" placeholder="Name" name="namefield" required>
        <br>
        <input type="text" placeholder="Section" name="sectionfield" required>
        <br>
        <button type="submit">Enroll</button>
    </form>
</body>
</html>
