<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile</title>
</head>
<body>
    <h1>Update Profile for {{ name }}</h1>
    <form action="/update_process" method="POST">
        <input type="text" name="id" value="{{ std_id }}" readonly>
        <br>
        <input type="text" name="new_name" value="{{ name }}">
        <br>
        <input type="text" name="new_section" value="{{ section }}">
        <br>
        <button type="submit">Update Profile</button>
    </form>
</body>
</html>
