* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
}

#login-button {
    background-color: #009970;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.navbar {
    background-color: transparent;
    z-index: 0;
    overflow: hidden;
    color: #f876de;
    background-color: #f1f1f1;
    height: 55px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(41, 28, 28, 0.1);
}



.navbar-brand {
    font-weight: 500;
    color: #009970;
    font-size: 24px;
    transition: 0.3s color;
    margin-left: 20px;
}

#login-button:hover {
    background-color: #00b383;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 700;
    position: relative;
}

.nav-link:hover,
.nav-link.active {
    color: #00b383;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0px;
        height: 2px;
        background-color: #009970;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

.header {
    z-index: 100;
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 40px 30px;
}

/* HERO BANNER */


.shop {
    background-color: #000000;
    padding-bottom: 2rem;
}

.shop h1,
.shop p {
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: #000000;
}


/* product */

#shop-features {
    margin-top: 100px;
}


#shop-features .title-shop {
    justify-content: center;
    position: relative;
    bottom: 30px;
    color: #000000;
}

#shop-features .title-shop h2,
#shop-features .title-shop p {
    color: #000000;
}

#shop-features p {
    justify-content: center;
    text-align: center;
    line-height: 2;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

/*-- VARIABLES CSS--*/
/*Colores*/
:root {
    --first-color: #E3F8FF;
    --second-color: #DCFAFB;
    --third-color: #FFE8DF;
    --accent-color: #FF5151;
    --dark-color: #161616;
    --white-color: #ffff
}

/*Tipografia responsive*/
:root {
    --body-font: 'Open Sans';
    --h1-font-size: 1.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
    :root {
        --h1-font-size: 2rem;
        --normal-font-size: 1rem;
        --smaller-font-size: 0.813rem;
    }
}

/*-- BASE --*/
*,
::after,
::before {
    box-sizing: border-box;
}


h1 {
    font-size: var(--h1-font-size);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/*-- LAYAOUT --*/
.main {
    max-width: 100%;
    /* Adjust as needed */
    margin: 0 auto;
    /* Center the grid */
    padding: 0 1rem;
    /* Adjust as needed */
}

.bd-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

/*-- PAGES --*/
.title-shop h2 {
    position: relative;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
}

.title-shop p {
    text-align: center;
    justify-content: center;
    color: #ffffff;
}




/*-- COMPONENT --*/
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    overflow: hidden;
}

article:nth-child(1) {
    background-color: var(--first-color);
}

article:nth-child(2) {
    background-color: var(--first-color);
}

article:nth-child(3) {
    background-color: var(--first-color);
}

article:nth-child(4) {
    background-color: var(--first-color);
}

article:nth-child(5) {
    background-color: var(--first-color);
}

article:nth-child(6) {
    background-color: var(--first-color);
}

article:nth-child(7) {
    background-color: var(--first-color);
}

article:nth-child(8) {
    background-color: var(--first-color);
}

article:nth-child(9) {
    background-color: var(--first-color);
}

article:nth-child(10) {
    background-color: var(--first-color);
}

article:nth-child(11) {
    background-color: var(--first-color);
}

article:nth-child(12) {
    background-color: var(--first-color);
}


.card__img {
    width: 180px;
    height: auto;
    padding: 3rem 0;
    transition: .5s;
    align-items: center;
}

.card__name {
    position: absolute;
    left: 0;
    top: -20%;
    width: 100%;
    height: auto;
    line-height: 3;
    writing-mode: horizontal-tb;
    transform: rotate(0);
    text-align: center;
    background-color: var(--dark-color);
    color: #fff;
    font-weight: 700;
    transition: top 0.5s ease;
}

.card__name p {
    margin-top: 5px;
}

.card__icon {
    font-size: 1.5rem;
    color: var(--dark-color);
}

.card__icon:hover {
    color: var(--accent-color);
}

.card__precis {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transition: .5s;
}

.card__preci {
    display: block;
    text-align: center;
}

.card__preci--before {
    font-size: var(--smaller-font-size);
    color: var(--accent-color);
    margin-bottom: .25rem;
    text-decoration: line-through;
}

.card__preci--now {
    font-size: var(--h3-font-size);
    font-weight: bold;
}

.button_card button {
    background-color: var(--first-color);
    color: #000000;
    width: 70px;
    height: 30px;
    border: 1 solid #000000;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
    pointer-events: stroke;
    margin-top: 10px;
    font-size: var(--h3-font-size);
    font-weight: 700;
    transition: all 0.3s ease;
}

.button_card:hover button {
    background-color: var(--first-color);
    color: #000000;
}




/*Move left*/
.card:hover {
    box-shadow: 0 .5rem 1rem #D1D9E6;
}

.card:hover .card__name {
    top: 0;
}

.card:hover .card__img {
    transform: rotate(0);
    margin-left: 0%;
}

.card:hover .card__precis {
    margin-bottom: 0;
    padding: 0 0.5rem;
}


/* page # */

#page {
    text-align: center;
    justify-content: center;
    margin: 60px;
}

#page a {
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

.last-banner {
    background-image: url(img/b2.jpg);
    background-size: cover;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.last-banner h2,
.last-banner p {
    color: #ffffff;
    font-weight: 700;
    font-size: 30px;
}


/* footer */

/*-- FOOTER --*/

footer {
    text-align: center;
}

/*-- MEDIA QUERIES --*/
@media screen and (min-width: 1200px) {

    .title-shop {
        margin: 0 5rem;
    }

    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
}




/* FOOTER START*/
ul {
    margin: 0px;
    padding: 0px;
}

.footer-section {
    background: #222222;
    position: relative;
}

.footer-cta {
    border-bottom: 1px solid #373636;
}

.single-cta i {
    color: #ff5e14;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.cta-text {
    padding-left: 15px;
    display: inline-block;
}

.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cta-text span {
    color: #757575;
    font-size: 15px;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-logo img {
    max-width: 200px;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}

.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}

.facebook-bg {
    background: #3B5998;
}

.twitter-bg {
    background: #55ACEE;
}

.google-bg {
    background: #DD4B39;
}

.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #ff5e14;
}

.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
}

.footer-widget ul li a:hover {
    color: #ff5e14;
}

.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
}

.subscribe-form {
    position: relative;
    overflow: hidden;
}

.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
}

.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}

.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}

.copyright-area {
    background: #202020;
    padding: 25px 0;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}

.copyright-text p a {
    color: #ff5e14;
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer-menu li:hover a {
    color: #ff5e14;
}

.footer-menu li a {
    font-size: 14px;
    color: #878787;
}


/* Footer END */